* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}
body {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.section-one {
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
    color: white;
    gap: 70px;
    align-items: center;
    padding: 32px 0px;
}
header {
    display: flex;
    justify-content: space-between;
    width: 80vw;
}
header > nav > ul {
    list-style-type: none;
    display: flex;
    gap: 16px;
}
.intro-container {
    display: flex;
    width: 80vw;
    justify-content: center;
    gap: 20px;
}
.intro {
    width: 50%;
    flex: 1;
}
.main-image-container {
    width: 50vw;
    height: 100%;
    flex: 1;
}
.main-image-container > img {
    width: 100%;
    height: auto;
    border-radius: 9%;
}


.section-two {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 32px 0px;
    gap: 32px;
    margin-bottom: 64px;
}

.section-two > h1,
.example-image-container {
    display: flex;
    width: 80vw;
    justify-content: center;
    gap: 32px;
    flex-wrap: wrap;
}

.contained-image {
    display: flex;
    border: 1px solid rgb(31, 4, 150);
    border-radius: 16px;
    flex: 1;
}
.contained-image > img {
    display: flex;
    flex: 1 1 0;
    height: auto;
    border-radius: 16px;
    width: 130px;
}


.section-three {
    background-color: #E5E7Eb;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 64px 0px;
    gap: 1px;
}

.section-three > h1 {
    font-size: 36px;
    color: #1F2937;
    font-weight: 300;
    width: 80vw;
    align-self: center;
}
.section-three > p {
    font-size: 24px;
    color: #1F2937;
    font-weight: 300;
    padding: 0px 20vw;
    align-self: flex-end;
}

.section-four {
    display: flex;
    background-color: white;
    color: rgb(161, 151, 207);
    flex-direction: column;
    padding: 32px 32px 0px 32px;
    gap: 32px;
}
.register-container {
    display: flex;
    padding: 16px 32px;
    width: 80vw;
    background-color: #3882F6;
    border-radius: 16px;
}

.advice-container {
        
}

.advice-container > h1 {
    font-size: 24px;

}

.advice-container > p {

}

.advice-container > button {

}

footer {
    background-color: #1F2937;
    width: 100%;
}