* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: Roboto, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header>img {
    border-radius: 6px;
    height: auto;
    width: 20vw;
}

.section-one {
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
    color: white;
    gap: 70px;
    align-items: center;
    padding: 2vw 0px 10vw 0px;
}

button {
    background-color: #3882F6;
    padding: 4px;
    border-radius: 8px;
    width: 80px;
    color: #E5E7Eb;
    font-weight: bold;
}

header {
    display: flex;
    justify-content: space-between;
    width: 80vw;
}

header>nav>ul {
    list-style-type: none;
    display: flex;
    gap: 16px;
}

nav>ul>li {
    border-radius: 16px;
    border: #1e2836 solid 2px;
    padding: 4px;
    box-shadow: -1px -2px 5px #0a0e14;
}

.intro-container {
    display: flex;
    width: 80vw;
    justify-content: center;
    gap: 20px;
}

.intro {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.intro>h1 {
    font-weight: 900;
    color: #F9FAF8;
    font-size: 48px;
}

.intro>p {
    color: #E5E7EB;
    font-size: 18px;
}

.main-image-container {
    width: 100%;
    height: 100%;
    flex: 1;
}

.main-image-container>img {
    width: 100%;
    height: auto;
    border-radius: 9%;
}


.section-two {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 32px 32px;
    gap: 32px;
    margin-bottom: 64px;
    flex-wrap: wrap;
}

.blur-image {

}

.section-two>h1,
.example-image-container {
    display: flex;
    width: 80vw;
    justify-content: center;
    gap: 32px;
    flex-wrap: wrap;
}

.contained-image {
    display: flex;
    border-radius: 16px;
    flex: 1;
    flex-direction: column;
    height: max-content;
    width: 15vw;
    gap: 8px;

}

.contained-image>img {
    display: flex;
    flex: 1 1 0;
    width: 15vw;
    height: 15vw;
    border-radius: 16px;
    box-shadow: 5px 5px 5px rgb(77, 72, 72);
}

.contained-image>p {
    height: 120px;
    width: 15vw;
    flex: 1;
}

.section-three {
    background-color: #E5E7Eb;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 64px 0px;
    gap: 1px;
}

.section-three>h1 {
    font-size: 36px;
    color: #1F2937;
    font-weight: 300;
    width: 80vw;
    align-self: center;
}

.section-three>p {
    font-size: 24px;
    color: #1F2937;
    font-weight: 300;
    padding: 0px 20vw;
    align-self: flex-end;
}

.section-three > h1 {
    font-style: italic;
}

.section-four {
    display: flex;
    background-color: white;
    color: black;
    flex-direction: column;
    align-items: center;
}

.register-container {
    display: flex;
    padding: 32px 32px;
    width: 80vw;
    background-color: #3882F6;
    border-radius: 4px;
    color: #E5E7Eb;
    margin: 5vw 0px;
}

.advice-container {
    width: 70%;
}

.button-finale {
    display: flex;
    align-items: center;
    width: 30%;
    justify-content: center;
}

.button-finale>button {
    padding: 8px;
    border-radius: 8px;
}

.advice-container>h1 {
    font-size: 24px;

}

.advice-container>p {}

.advice-container>button {}

footer {
    display: flex;
    background-color: #1F2937;
    width: 100%;
    color: white;
    justify-content: center;
    align-items: center;
    height: 5em;
}